.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  grid-gap: 20px 18px;
  padding: 0;
  padding-top: 51px;
  margin: auto;
  max-width: 922px;
  justify-content: center;
}

.cards {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cards__list {
    margin: 0;
    padding-left: 19px;
    padding-right: 19px;
    /* justify-content: start; */
  }
}

@media screen and (min-width: 321px) and (max-width: 800px) {
  .cards__list {
    width: 100%;
  }
}
